<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>guessGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24F6E08E1EDD513C008B4FD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F6E0A21EDD513C008B4FD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F6E0AD1EDD513C008B4FD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
